[features]
resolution = true
skip-lint = false

[programs.localnet]
blind_link = "B1indLnkPS1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

[programs.devnet]
blind_link = "B1indLnkPS1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
